<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist Assistant Register</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <style type="text/css">
    label {
        display: inline-block;
        width: 250px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;

    button {
        padding: 5px;
        margin: 10px;
    }
</style>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
        <h1>User Registration - Sign Up</h1>
        <form action="#" th:action="@{/register}" method="post" th:object=${user}">

<!--        <form action="submit form" th:action="@{/process_register}" th:object="${user}"-->
<!--          method="post" style="max-width: 600px; margin: 0 auto;">-->

          <label>Full Name: </label>
                <input type="text" th:field="*{Name}"/><br/>

          <label>E-mail: </label>
               <input type="text" th:field="*{email}"/><br/>

          <label>Password: </label>
                <input type="password" th:field="*{password}"/><br/>

          <label>Medium:</label>
          <select th:field="*{medium}">
              <option th:each="m : ${listMedium}" th:value="${m}" th:text="${m}" />
          </select>
        <br/>

<!--            <div class="form-group">
            <h4>Artistic Medium</h4>
            <h5>Choose only one:</h5>
            <select name="artisticMedium" id = "plan">
               <option value="metalsmithing">METALSMITHING</option>
               <option value="woodworking">WOODWORKING</option>
                <option value="drawing">DRAWING</option>
                <option value="painting">PAINTING</option>
               <option value="photography">PHOTOGRAPHY</option>
               <option value="printmaking">PRINTMAKING</option>
                <option value="Sculpture">SCULPTURE</option>
            </select>-->

<!--                <input type="radio" id="metals" name="metals" value="metals">
                <label for ="metals">Metals</label>
                <input type="radio" id="2D paint" name="2D paints" value="2D paints">
                <label for ="metals">2D Paint</label><br/>
                <input type="radio" id="2D drawing" name="2D drawing" value="2D drawing">
                <label for ="2D drawing">2D Drawing</label><br/>
                <input type="radio" id="photography" name="photography" value="photography">
                <label for ="photography">Photography</label><br/>
                <input type="radio" id="sculpture" name="sculpture" value="sculpture">
                <label for ="sculpture">Sculpture</label><br/>
                <input type="radio" id="printmaking" name="printmaking" value="printmaking">
                <label for ="printmaking">Print Making</label><br/>
                <input type="radio" id="wood" name="wood" value="wood">
                <label for ="wood">Wood</label><br/>

                <span class="has-error" th:if="${#fields.hasErrors('artisticMedium')}" th:errors="*{artisticMedium}"></span>
            </div>-->
            <br/>
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>


            <div class="container signin">
                <p>Already have an account? <a href="redirect:/login">Sign in here.</a></p>
            </div>
    </form>

</body>
</html>