<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Artist Assistant Register</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="text-center">
    <div>
        <h1>User Registration - Sign Up</h1>
    </div>
    <form th:action="@{/process_register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                </div>
                <br/>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
                <br/>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">First Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{firstName}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
                <br/>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Last Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{lastName}" class="form-control"
                           required minlength="2" maxlength="20" />
                </div>
                <br/>
            </div>

            <div class="form-group">
                <h4>Artistic Medium</h4>
                <h5>Choose only one:</h5>
                <input type="radio" id="metals" name="metals" value="metals">
                <label for ="metals">Metals</label><br/>
                <input type="radio" id="2D paint" name="2D paints" value="2D paints">
                <label for ="metals">2D Paint</label><br/>
                <input type="radio" id="2D drawing" name="2D drawing" value="2D drawing">
                <label for ="2D drawing">2D Drawing</label><br/>
                <input type="radio" id="photography" name="photography" value="photography">
                <label for ="photography">Photography</label><br/>
                <input type="radio" id="sculpture" name="sculpture" value="sculpture">
                <label for ="sculpture">Sculpture</label><br/>
                <input type="radio" id="printmaking" name="printmaking" value="printmaking">
                <label for ="printmaking">Print Making</label><br/>
                <input type="radio" id="wood" name="wood" value="wood">
                <label for ="wood">Wood</label><br/>

                <span class="has-error" th:if="${#fields.hasErrors('artisticMedium')}" th:errors="*{artisticMedium}"></span>
            </div>
            <br/>
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>